@font-face {
    font-family: SansRounded;
    src: url('SansRounded.eot');
    src: url('SansRounded.eot?#iefix') format('embedded-opentype'),
        url('SansRounded.svg#SansRounded') format('svg'),
        url('SansRounded.woff') format('woff'),
        url('SansRounded.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}