.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
    opacity: 1;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

.fade-right-enter-active, .fade-right-leave-active {
    transition: opacity .5s, transform .5s;
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

.fade-right-enter, .fade-right-leave-to {
    transform: translate3d(25%, 0, 0);
    opacity: 0;
}

.fade-top-enter-active, .fade-top-leave-active {
    transition: opacity .5s, transform .5s;
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

.fade-top-enter, .fade-top-leave-to {
    transform: translate3d(0, -25%, 0);
    opacity: 0;
}

.show {
    display: inline-block;

    transition: opacity .5s, transform .5s;
    transform: translate3d(25%, 0, 0);
    opacity: 0;
}

.show-next:hover + .show {
    display: inline-block;

    transform: translate3d(0, 0, 0);
    opacity: 1;
}

@include _480 {
    .show, .show-next:hover + .show {
        display: none;
    }
}

@keyframes shakeX {
    from, to {
      transform: translate3d(0, 0, 0);
    }

    20%, 60% {
      transform: translate3d(-10px, 0, 0);
    }

    40%, 80% {
      transform: translate3d(10px, 0, 0);
    }
}

.shake {
    animation: shakeX .3s linear;
}