button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
}

.button {
    display: inline-block;
    position: relative;
    max-height: 64px;

    text-decoration: none;
    font-family: $font-family;
    font-size: 18px;
    text-align: center;
    color: $text-color;

    &--left-offset {
        margin-left: 20px;
    }

    &.centered {
        left: 50%;
        transform: translate(-50%);
    }

    &.stretch {
        width: 100%;
    }
}

.icons {
    display: block;
    width: auto;
    height: auto;
    max-height: 60%;
    margin: auto auto;
}

@include _480 {
    .icons {
        display: block;
        width: auto;
        height: auto;
        max-height: 60%;
        margin: auto auto;
    }

    .button {
        display: inline-block;
        position: relative;
        // max-height: 45;
        // font-size: 15px;
    }
}
