.content-selection {

    .selection-text {
        padding-top: 20px;
        text-align: center;

        .selection__header {
            margin-bottom: 20px;

            font-size: 1em;
        }
    }
}