.header {
    padding-top: 30px;

    text-align: center;

    &__title {
        font-size: $font-size-h1;
    }

    &__subtitle {
        margin: 30px 0 80px;
        font-size: $font-size-h2;
    }
}