.input-text {
   // padding: 10px 20px;

    outline: none;
    border: none;
    background: none;

    padding-left: 10px;
    text-align: left;
    font-family: $font-family;
    font-size: 1em;
    color: $text-color;

   // transition: border .2s ease-in-out;
    border-bottom: solid #999999;


    &::placeholder{
        color: #999999;
    }

   // &:focus {
        // border: 2px solid $accent-color;
  //  }
}