input {
    outline: none;
    border: none;
    background: none;

    font-family: $font-family;
    font-size: 18px;
    text-align: left;
    color: $text-color;

    &::placeholder{
        color: #999999;
    }
}

.input-text {
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 2px solid #999999;
    border-radius: 2px;
}

@media (max-width: 480px) {
    input {
        font-size: 15px;
    }
    .input-text {
        padding-left: 5px;
        padding-right: 5px;
    }
}
