/* Colors */
$accent-color: rgba(255, 255, 255, 0.8);
$secondary-color: #a77029;

$text-color: #434343;

/* Fonts */
$font-family: "SansRounded", Arial, sans-serif;

/* Sizes */
$container-size: 1180px;